<div class="container mt-5">
<h1 class="fancy-title font-italic">Mis entrenamientos</h1>
<%= link_to 'Crear Entrenamiento', new_training_path, class: 'btn btn-primary' %>
<% if @trainings.any? %>
  <p> </p>

    <div class="row">
      <% @trainings.each do |training| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header bg-warning text-dark">
              <h5><%= training.exercise %></h5>
            </div>
            <div class="card-body">
              <p class="card-text"><strong>Dia:</strong> <%= training.day %></p>
              <div class="btn-group" role="group">
                <%= link_to 'Ver', training_path(training), class: 'btn btn-primary' %>
                <%= link_to 'Editar', edit_training_path(training), class: 'btn btn-secondary' %>
                <%= link_to 'Eliminar', training, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No hay entrenamientos disponibles.</p>
  <% end %>
</div>
