<div class="container mt-5">
    <h1>User Profile</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mi usuario</h5>
        <p><strong>Nombre usuario:</strong></p>
        <% if @personal_information %>
          <p><strong>Peso:</strong> <%= @personal_information.weight %> Kg</p>
          <p><strong>Estatura:</strong> <%= @personal_information.height %> cm</p>
          <p><strong>Género:</strong> <%= @personal_information.gender %></p>
          <p><strong>Actividad Física:</strong> <%= @personal_information.physical_activity %></p>
        <% else %>
          <p>No personal information available.</p>
        <% end %>
        <%= link_to 'Edit', edit_personal_information_path(@personal_information), class: 'btn btn-primary mt-3' %>
      </div>
    </div>
  </div>
  