<h1>Editar/Crear anuncio para kinesi贸logo</h1>

<%= form_for @kinesiologist_detail do |f| %>
  <div class="field">
    <%= f.label :profession, "Profesi贸n" %>
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :education, "Educaci贸n" %> <!-- Assuming 'education' field exists -->
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :specialty, "Especialidad" %>
    <%= f.text_field :specialty %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripci贸n" %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit "Guardar" %>
<% end %>
