<h1>Kinesiologos</h1>

<% @kinesiologist_details.each do |kine| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title"><%= kine.user.username %></h4>
      <h5 class="card-title"><%= kine.user.email %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= kine.specialty %></h6>
      <p class="card-text"><%= kine.description %></p>
      <% if user_signed_in? && current_user == kine.user %>
        <%= link_to 'Edit', edit_kinesiologist_detail_path(kine), class: 'card-link btn btn-warning' %>
      <% end %>
  </div>
<% end %>

