<h1>Crear Anuncio</h1>

<%= form_with model:@kinesiologist_detail , local: true do |f| %>
  <div class="form-group mb-3">
    <%= f.label :specialty, "Especialidad" %>
    <%= f.text_field :specialty, class: "form-control", required: true %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :description, "Descripción" %>
    <%= f.text_field :description, class: "form-control", required: true %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Guardar" %>
<% end %>

  <%= link_to 'Mis anuncios', kinesiologist_detail_path(current_user.id), class: 'card-link btn btn-warning' %>
