<div class="container mt-4">
  <div class="row">
    <div class="col-lg-10 offset-lg-1"> <!-- Adjusted for larger width -->
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title mb-0"><%= @warm_up.exercise %></h3>
        </div>
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-muted">Entrenamiento <%= @warm_up.training.exercise %></h5>
          <h5 class="card-subtitle mb-2 text-muted">Usuario: <%= @warm_up.training.user.username %></h5>

          <% if @warm_up.youtube_video_id.present? %>
            <!-- Larger video display area -->
            <div class="embed-responsive embed-responsive-16by9 mt-3 mb-3">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @warm_up.youtube_video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; height:500px;"></iframe>
            </div>
          <% end %>

          <% if @warm_up.video.attached? %>
            <video width="100%" height="500" controls>
              <source src="<%= url_for(@warm_up.video) %>" type="video/mp4">
              Tu navegador no soporta videos.
            </video>
          <% end %>

          <div class="btn-group d-flex justify-content-center mt-2" role="group" aria-label="Acciones">
            <%= link_to 'Editar', edit_warm_up_path(@warm_up), class: 'btn btn-warning' %>
            <%= link_to 'Eliminar', @warm_up, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
            <%= link_to 'Volver', warm_ups_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




