<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= @warm_up.exercise %></h1>
          <h2 class="card-subtitle mb-2 text-muted">Parte del entrenamiento ID: <%= @warm_up.training_id %></h2>
          <h2 class="card-subtitle mb-2 text-muted">Usuario: <%= @warm_up.training.user.username %></h2>
          
          <%= link_to 'Editar', edit_warm_up_path(@warm_up), class: 'btn btn-warning me-2' %>
          <%= link_to 'Eliminar', @warm_up, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger me-2' %>
          <%= link_to 'Volver', warm_ups_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
